streamlit>=1.33.0
pandas>=2.2.2
numpy>=1.26.4
yfinance>=0.2.40
altair>=5.3.0
plotly>=5.20.0
textblob>=0.18.0.0
langchain # Keep this for core LangChain functionalities
langchain-community # This is crucial for HuggingFaceHub and other community integrations
huggingface_hub # The underlying library for Hugging Face interactions
pytz
